
<div class="main_txt">
<h1> Welcome to the movies page </h1>
<form action="movie_query" method="get"> 
	<input type="text" name="film_name"></input>
	<button>Submit</button>
</form> 
<% if params.count <= 2 %> 
	<p> No Movies Found yet </p>
<% else  %> 
	<p> Found a movie <p>
	<p> Movie is <%= @title %>  </p>
	<p> Director is <%= @director %>  </p>
	<p> Rating is <%= @rating %>  </p>
	<p> Movies: <%= @my_movie.inspect %>  </p>
<% end  %> 
<hr />
<p><%= params.count %>:  <%= params %></p>

</div>

