
<h1> Welcome to the Stocks page </h1>
<hr />
<form class="form-inline" action="stock_query" method="post"> 
	<div class="input-append">
		<input class="span2" id="stock_name" type="text" name="stock" placeholder="Stock Name">
		<button class="btn" type="submit"  id="submit_stock">Go!</button>
		</input>
	</div>
	<span class="help-inline" id="stock_error">No Stock Entered</span>
</form> 

<% if params.count <= 2 || @found == 0 %> 
	<p> No Stocks Found yet </p>
	<% if @found == 0 %>
		<p> The Stock name entered is incorrect </p>
	<% end  %> 
	
<% else  %> 
	<p> Found a Stock <p>
	<table>
		<tr>
			<td>
				<p> Company name: <%= @company %></p>
				<p> Last traded: <%= @last %></p>
				<p> Market cap: <%= @market_cap %></p>
			</td>
			<td>
				<img src="<%= @url %>" />
			</td>
		</tr>
	</table>


<% end  %> 
<hr />
<p><%= params.count %>:  <%= params %></p>
	<p> Stock: <%= @stock.inspect %>  </p>

